img {
    width: 100%;
}

.section {
    background-image: url("https://Minh-B-Dang.github.io/profile.JPG") no-repeat;
    background-position: left;
    background-size: contain;
}

.landing {
    position: relative;
    background-position: right;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
}

.landing-inner {
    padding-top: 80px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
    left: 0;
    float: right;
    width: 47%;
    height: 100%;
}

.dark-overlay2 {
    width: 50%;
    float: right;
}

a {
    padding: 5px;
}

.card-form {
    opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
}

.form-control::placeholder {
    color: #bbb !important;
}